<div class="form-group">
    <label for="creator">Creator:</label>
    <input required value="{{fact.creator}}" type="text" name="creator" id="creator" class="form-control">
</div>

<div class="form-group">
    <label for="content">Fact:</label>
    <textarea required name="content" id="content" class="form-control">{{fact.content}}</textarea>
</div>



<a href="/" class="btn btn-secondary" >Cancel</a>
<button type="submit" class="btn btn-primary" >Save</button>