<h2>Learn about human teeth anatomy</h2>
<a href="/teeth/teeth-anatomy" class="btn header-btn ">TEETH ANATOMY</a>
<a href="/teeth/conditions" class="btn header-btn ">CONDITIONS</a>
<a href="/teeth/tests-and-treatments" class="btn header-btn ">TESTS & TREATMENTS</a><br>
