<h2>Learn about human teeth anatomy</h2>
<a href="/teeth/teeth-anatomy" class="btn ">TEETH ANATOMY</a>
<a href="/teeth/conditions" class="btn ">CONDITIONS</a>
<a href="/teeth/tests-and-treatments" class="btn ">TESTS & TREATMENTS</a>