<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Teeth Encyclopedia</title>
</head>

<body>
    <header class="header">
        <div>
            <a href="/personal/my-cv" class="btn cv header-btn">My CV </a>
            <a href="/" class="btn header-btn">Home </a>
            <a href="/teeth/" class="btn header-btn ">Learn about human teeth</a>
            <a href="/teeth/gallery" class="btn header-btn ">Gallery</a>
            <a href="/teeth/facts" class="btn header-btn ">Interesting facts</a>


            {{#if user.isAuthenticated}}
            <a href="/auth/logout" class="btn pull-right header-btn">Log out </a>
            <div class="pull-right ">
                <h5>Hello, {{user.name}}!</h5>
            </div>
            {{#if user.isAdmin}}
            <div class="pull-right ">
                <h6 class="admin" > admin_ </h6>
            </div>
            {{/if}}

            {{else}}
            <a href="/auth/login" class="btn pull-right header-btn">Log in </a>
            <a href="/auth/register" class="btn pull-right header-btn">Register </a>
            {{/if}}


        </div>
    </header>

    {{#if error}}
    <div>
        <span class="error">{{error.message}}</span>
    </div>
    {{/if}}
    <div class="main-body" >
         {{{body}}}
    </div>
   



    <br><br>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>My Skills</h4>
                        <p> Analytical Skills</p>
                        <p> Problem-solving skills</p>
                        <p> Critical-thinking skills</p>
                        <p> Detail-oriented</p>
                        <p> Multitasking</p>
                        <p> Self-motivated</p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> Navigate</h4>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="https://github.com/MedinaDemirova/Teeth-Encyclopedia-">GitHub</a></li>
                            <li><a href="/personal/my-cv">My CV</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4> Contact</h4>
                        <ul>
                            <li>Medina Demirova </li>
                            <li><i class="far fa-envelope"></i> anyonegirl6@abv.bg</li>
                            <li><i class="fas fa-map-marker-alt"></i> Sofia, BG </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>