  <div class="container">
        <h1 class="mb-4">EDIT FACT</h1>
        <form action="/teeth/facts/edit/{{fact._id}}?_method=PUT" method="POST">
        {{>form-partial}}
        </form> 
    </div>