<body>
    <div class="container">
        <h1 class="mb-4" >New tooth</h1>
        <form action="/teeth/gallery/add-tooth" method="POST">
        {{>form-partial-tooth}}
        </form>
    </div>
</body>