  <div class="container">
        <h1 class="mb-4">EDIT TOOTH</h1>
        <form action="/teeth/gallery/{{tooth._id}}/edit?_method=PUT" method="POST">
        {{>form-partial-tooth}}
        </form> 
    </div>