<body >
    <div class="container" >
        <h1  class="headermain">Teeth Encyclopedia</h1>

    <h2 class="headermain" >Welcome! <br><br> </h2>
    <h4 class="headermain"> Do you want to learn more about  human teeth?   This is the right place to do it!     
        Find out some interesting information about our teeth and  advices how to care about them!   
        I hope that your visit will be usefull and valuable for you!
    </h4>


<br><br><br>
    <h3 class="headermain">What technologies and feameworks a Teeth Encyclopedia website is built with?</h3>
    <ul >
        <li>Node JS</li>
        <li>Express JS</li>
        <li>Mongoose</li>
        <li>Express- Handlebars</li>
        <li>Bootstrap</li>
        
    </ul>

    </div>
</body>