<body>
    <h1 class="headermain site-name">Teeth Encyclopedia</h1> <br>
    <div class="container">
        
        <h2 class="headermain">Welcome! </h2>
        <h4 class="headermain"> Do you want to learn more about human teeth? This is the right place to do it!
            Find out some interesting information about our teeth and advices how to care about them!
            I hope that your visit will be usefull and valuable for you!
        </h4>


        <br><br><br>
        <h3 class="headermain">What technologies and frameworks a Teeth Encyclopedia website is built with?</h3>
        <ul >
             <li class="headermain">JavaScript</li>
            <li class="headermain">Node JS</li>
            <li class="headermain">Express JS</li>
            <li class="headermain">Mongoose</li>
            <li class="headermain">Express- Handlebars</li>
            <li class="headermain">Bootstrap</li>

        </ul>

    </div>
</body>