<form action="/auth/register" method="POST">
    <div class="container">
        <h1>Register</h1>
        <h4>Please fill in this form to create an account.</h4>
        <hr>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" class="form-control" name="username" id="username" required><br>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" class="form-control" name="password" id="password" required><br>

        <label for="passwordRepeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" class="form-control" name="passwordRepeat" id="passwordRepeat" required>
        <hr>


        <button type="submit"class="btn btn-default">Register</button>
    </div>

    <div class="container signin"> <br>
        <p>Already have an account? <a href="/auth/login">Sign in</a>.</p>
    </div>
</form>