<div class="container">
        <h1 class="mb-1">{{tooth.name}}</h1>
        <div class="text-muted mb-2">{{tooth.latinName}}</div>
        <p>{{tooth.description}}</p>
        {{tooth.imageURL}}
        <a href="/teeth" class="btn btn-info">Back</a>
    </div>