<div class="container">
        <h1 class="mb-1">{{tooth.name}}</h1>
        <p>{{tooth.description}}</p>
     <img  src="{{tooth.imageURL}}">
        <a class="btn-back"   href="/teeth/gallery" class="btn btn-info">Back</a>
    </div>