<div class="container">
        <h1 class="mb-1">{{tooth.name}}</h1>
        <p>{{tooth.description}}</p>
     <img  src="{{tooth.imageURL}}">
        <a  style="size: height: 100px;
    width: 100px ; display: block;
    margin:  auto;
    text-align: center" href="/teeth/gallery" class="btn btn-info">Back</a>
    </div>