<h2>Learn about human teeth anathomy</h2>
<a href="/teeth/upper-teeth" class="btn ">UPPER TEETH</a>
<a href="/teeth/lower-teeth" class="btn ">LOWER TEETH</a>
<a href="/teeth/test-and-treatments" class="btn ">TESTS & TREATMENTS</a>
<br>

<p>
The teeth are the hardest substances in the human body. Besides being essential for chewing, the teeth play an important role in speech. Parts of the teeth include:
<ul>
<li>Enamel: The hardest, white outer part of the tooth. Enamel is mostly made of calcium phosphate, a rock-hard mineral.</li>
<li>Dentin: A layer underlying the enamel. It is a hard tissue that contains microscopic tubes. When the enamel is damaged, heat  or cold can enter the tooth through these paths and cause sensitivity or pain.</li>
<li>Pulp: The softer, living inner structure of teeth. Blood vessels and nerves run through the pulp of the teeth.</li>
<li>Cementum: A layer of connective tissue that binds the roots of the teeth firmly to the gums and jawbone.</li>
<li>Periodontal ligament: Tissue that helps hold the teeth tightly against the jaw.</li>
</ul><br>
A normal adult mouth has 32 teeth, which (except for wisdom teeth) have erupted by about age 13:
<ul>
<li>Incisors (8 total): The middlemost four teeth on the upper and lower jaws.</li>
<li>Canines (4 total): The pointed teeth just outside the incisors.</li>
<li>Premolars (8 total): Teeth between the canines and molars.</li>
<li>Molars (8 total): Flat teeth in the rear of the mouth, best at grinding food.</li>
<li>Wisdom teeth or third molars (4 total): These teeth erupt at around age 18, but are often surgically removed to prevent displacement of other teeth.</li>
</ul>
The crown of each tooth projects into the mouth. The root of each tooth descends below the gum line, into the jaw.
</p>
