{{>second-menu}}
<h2 class="headermain">Tests and treatments</h2>

<h3 class="headermain">Tests</h3><br>
<ul>
    <li>Teeth X-ray films: X-ray pictures of the teeth may detect cavities below the gum line, or that are too small to identify otherwise.</li>
    <li>Teeth examination: By viewing and gently manipulating the teeth, a dentist can detect potential teeth problems.</li>
</ul>

<h3 class="headermain">Treatments</h3>
<ul>
<li>Brushing teeth: Daily brushing of the teeth removes plaque and helps prevent cavities.</li>
<li>Flossing teeth: Using floss or an approved dental gum cleaner cleans teeth below the gum line, where brushing cannot reach.</li>
<li>Rinsing teeth: Rinsing daily with an antiseptic mouthwash kills bacteria that cause bad breath and gum disease.</li>
<li>Teeth cleaning: Professional teeth cleaning every six months may help prevent teeth and gum disease.</li>
<li>Tooth filling: Drilling out the diseased part of a tooth and packing the space with a mineral filling can prevent a cavity from destroying the tooth.</li>
<li>Root canal: The deep pulp of a tooth is drilled out, cleaned, and filled. A root canal is done when damage to the teeth has affected the deep pulp.</li>
<li>Tooth extraction: If a tooth is too damaged to repair with a filling or root canal, it may be removed. Wisdom teeth are often extracted to prevent displacement of the other teeth.</li>
<li>Braces: An artificial device or system that places teeth under tension for a long period of time. Eventually, braces can help crooked teeth become realigned.</li>
<li>Mouth guard: A plastic mouthpiece can provide protection from teeth grinding and injury during sports.</li>
<li>Dental sealants: A plastic sealant applied to the teeth can help block bacteria from hiding in crevices on teeth surfaces. Sealants can help prevent cavities.</li>
<li>Teeth whitening: Over-the-counter and professional chemical treatments can bleach teeth to a brighter white. Tooth sensitivity is the most common side effect.</li>
</ul>