html, body {
    background-color: whitesmoke;
    height: 100%;
}
img {
    height: 100px;
    width: 100px ; 
    display: block;
    margin:  auto;
    text-align: center"
}
header {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #b8cfe4;
}

   

footer {
    background: #87a4be;
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 20px;
}
span.error {
    animation: fadeOut 1s forwards;
    animation-delay: 2s;
    background: rgb(230, 59, 37);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: normal;
    position: relative;
    float: right;
    margin-top: 20px;
    overflow: hidden;
    display: block;
}