<h1 class="headermain">My Basket</h1>

<form name="ShoppingList" method="POST">
     <legend>Add new item:</legend>
    <fieldset class="add-item">
       
        <p>Item: {{product.name}}</p>
        <p>Price: EU {{product.price}}</p>
        <label>Quantity: <input type="number" name="quantity" value="1"></label>
        <button type="submit" class="btn-back-add" >Add</button>
        <a class="btn-back" href="/e-shop/{{product.slug}}" class="btn btn-info">Back</a>
    </fieldset>
   
</form>