<body>
    <div class="container">
        <h1 class="mb-4" >New product</h1>
        <form action="/e-shop/create-product" method="POST">
        {{>form-partial-product}}
        </form>
    </div>
</body>