
    <div class="container">
        <h1 class="mb-4" >Edit product</h1>
        <form action="/e-shop/{{product.slug}}/edit?_method=PUT" method="POST">
        {{>form-partial-product}}
        </form>
    </div>
