<div class="table-basket">
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Status</th>
        </tr>

        {{#each products}}
        <tr>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{quantity}}</td>
            <td>Waiting for dispatch</td>
          
        </tr>
        {{/each}}
      
    </table>

</div>
<a href="/e-shop/order/show-orders"><button class="confirm btn btn-info">Back</button></a>
  <a href="/e-shop/order/{{orderID}}/complete-order"> <button class="btn btn-success">Complete</button> </a>
