<h1 class="headermain">Add shipping information</h1>

<form action="/e-shop/order/confirm" method="POST">
    <div class="form-group">
        <label>E-mail: <input placeholder="john_doe@yahoo.com" class="form-group-input" type="email" name="email"></label>
    </div>

    <div class="form-group">
        <label>Adress: <input placeholder="12 Botev Str, Sofia, Bulgaria" class="form-group-input" type="text" name="adress"></label>
    </div>

    <div class="form-group">
        <label>Phone number: <input placeholder="00359888123456" class="form-group-input" type="tel" name="phone"></label>
    </div>

    <div>
        <button type="submit" class="btn-back-add">Submit</button>
        <a class="btn-back" href="/e-shop/order/my-basket" class="btn btn-info">Back</a>
    </div>
</form>